:root {
  --bodyFont: 'DM Sans', sans-serif;
  --headerFont: 'Lexend', sans-serif;
  --h1fontSizeDesktop: 2.028rem;
  --h2fontSizeDesktop: 1.842rem;
  --h3fontSizeDesktop: 1.63rem;
}

/* Element overrides */

body {
  font-family: var(--bodyFont);
  font-size: 16px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headerFont);
  font-weight: 600;
}

h1 {
  font-size: var(--h1fontSizeDesktop);
}

h2 {
  font-size: var(--h2fontSizeDesktop);
}

h3 {
  font-size: var(--h3fontSizeDesktop);
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  height: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5%;
}

nav li {
  display: inline;
  padding: 0 15px;
}

header {
  display: block;
  height: 300px;
  background-color: #eaeaea;
  position: relative;
}

header picture {
  display: block;
  height: 100%;
}

header h2 {
  position: absolute;
  bottom: 25px;
  right: 5%;
  background-color: white;
  padding: 25px;
}

main {
  padding: 25px 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 25px 5%;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

section aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  width: 30%;
  border-right: 5px solid grey;
  text-align: right;
  padding: 0 50px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
}

footer {
  padding-bottom: 50px;
}

footer li {
  display: inline;
  padding-right: 30px;
}

/* Class overrides */

.portfolio-images {
  background-color: red;
  min-height: 15vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* ID overrides */

#aboutMeText,
#portfolioGrid,
#footerLinks {
  width: 70%;
  padding: 0 0 0 50px;
}

#footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolioGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  gap: 25px;
  grid-template-areas:
    "portolioShowCase portolioShowCase"
    "portolioPieceTwo portolioPieceThree"
    "portolioPieceFour portolioPieceFive";
}

#portolioShowCase {
  grid-area: portolioShowCase;
}

#portolioPieceTwo {
  grid-area: portolioPieceTwo;
}

#portolioPieceThree {
  grid-area: portolioPieceThree;
}

#portolioPieceFour {
  grid-area: portolioPieceFour;
}

#portolioPieceFive {
  grid-area: portolioPieceFive;
}